{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/base.css">
  <link rel="stylesheet" href="../static/styles/ammo.css">
{% endblock styles %}

{% block content %}
  <div class="tab-container">
    <ul class ="tabs">
      {% for ammo in ammoTypes %}
        <li data-tab-target="#ammo-type-{{ammo['type']}}" class= "tab">{{ammo['type']}}</li>
      {% endfor %}
    </ul>


    <div class="tab-content">
      {% for ammo in ammoTypes %}
        <div id="ammo-type-{{ammo['type']}}" data-tab-content>
          <h2>{{ammo['type']}} Ammo</h2>

          <table class="ammo-table">
            <thead>
              <tr>
                <th>Round</th>
                <th>Damage</th>
                <th>Penetration</th>
                <th>Armor damage(%)</th>
                <th>Accuracy(%)</th>
                <th>Recoil(%)</th>
                <th>Fragmentation chance(%)</th>
              </tr>
            </thead>
            <tbody>
              {% for round in ammo['rounds'] %}
                <tr>
                  <td>{{round['round_name']}}</td>
                  <td>{{round['damage']}}</td>
                  <td>{{round['penetration']}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      {% endfor %}
    </div>
{% endblock content %}