{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/base.css">
  <link rel="stylesheet" href="../static/styles/ammo.css">
{% endblock styles %}

{% block content %}
  <div class="tab-container">
    <ul class ="tabs">
      <li data-tab-target="#ammo-type-762x39" class= "tab">762x39</li>
      <li data-tab-target="#ammo-type-762x51" class= "tab">762x51</li>
      <li data-tab-target="#ammo-type-545x39" class= "tab">545x39</li>
    </ul>

    <div class="tab-content">
      <div id="ammo-type-762x39" class ="active" data-tab-content>
        <h2>762x39 ammo</h2>
        <table class="ammo-table">

          <thead>
            <tr>
              <th>Round</th>
              <th>Damage</th>
              <th>Penetration</th>
              <th>Armor damage(%)</th>
              <th>Accuracy(%)</th>
              <th>Recoil(%)</th>
              <th>Fragmentation chance(%)</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>HP</td>
              <td>87</td>
              <td>15</td>
              <td>35</td>
              <td>-5</td>
              <td></td>
              <td>26</td>
            </tr>
            <tr>
              <td>US</td>
              <td>56</td>
              <td>29</td>
              <td>42</td>
              <td>+5</td>
              <td>-30</td>
              <td>8</td>
            </tr>
            <tr>
              <td>T45M</td>
              <td>62</td>
              <td>30</td>
              <td>46</td>
              <td>-4</td>
              <td>-6</td>
              <td>12</td>
            </tr>
            <tr>
              <td>PS</td>
              <td>57</td>
              <td>32</td>
              <td>52</td>
              <td></td>
              <td></td>
              <td>25</td>
            </tr>
            <tr>
              <td>BP</td>
              <td>58</td>
              <td>47</td>
              <td>63</td>
              <td>-3</td>
              <td>+5</td>
              <td>12</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div id="ammo-type-762x51" data-tab-content>
      <h2>762x51 ammo</h2>
    </div>
    <div id="ammo-type-545x39" data-tab-content>
      <h2>545x39 ammo</h2>
    </div>
  </div>
{% endblock content %}