/********** CORE STYLES  ************/

@import url('https://fonts.googleapis.com/css2?family=Muli&family=Ubuntu&display=swap');

:root{
  --main-bg-color: #333;
  --un-blue: #2690d4;
}

body {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  background-color: var(--main-bg-color);
  color: white;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}


img {
  display: block;
  width: 100%; /*will only take up to 100% of its container*/
  height:auto;
}

h1,h2,h3{
  margin: 0em;
  padding: 1em 0;
}

p{
  margin: 0;
  padding: 1em 0;
}

.btn{
  display: inline-block;
  background: var(--main-bg-color);
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.btn:hover{
  background:lightgray;
  color:var(--main-bg-color);
}



/********** NAVBAR **********/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:  var(--un-blue);
  position: relative;
}
  
nav .logo{
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}
  
.nav-links{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}
  
.nav-links a{
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
}
  
.burger div{
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  transition: all 0.3s ease;
}

/********** FOOTER **********/
#main-footer{
  padding: 2em;
  background:black;
  color:white;
  text-align:center;
}

/********** MEDIA QUERIES SMALL SCREEN **********/
@media(max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--un-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);  /* hide navbar until burger is clicked */
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0; /* going to fade in when burger is clicked */
  }

  .burger{
    display: block;
    cursor: pointer;
  }
}

/********** MEDIA QUERIES LARGE SCREEN **********/
@media(min-width: 768px){

  .grid{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .burger{
    display: none;
  }

  .box, #main-footer div{
    grid-column: span 4;
  }
}

/********** ANIMATIONS **********/
.nav-active{
  transform: translateX(0%);
}

.toggle-burger .line1{
  transform: rotate(45deg);
}
.toggle-burger .line2{
  opacity: 0;
}
.toggle-burger .line3{
  transform: rotate(-45deg);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}