{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/base.css">
  <link rel="stylesheet" href="../static/styles/ammo.css">
{% endblock styles %}

{% block content %}
  <div class="tab-container">
    <ul class ="tabs">
      {% for ammo in ammoTypes %}
        <li data-tab-target="#ammo-type-{{ammo.div_id}}" class= "tab">{{ammo.caliber}}</li>
      {% endfor %}
    </ul>


   <div class="tab-content">
      {% for ammo in ammoTypes %}
        <div id="ammo-type-{{ammo.div_id}}" data-tab-content>
          <h2>{{ammo.caliber}} Ammo</h2>

           <table class="ammo-table">
            <thead>
              <tr>
                <th>Round</th>
                <th>Damage</th>
                <th>Penetration</th>
                <th>Armor damage(%)</th>
                <th>Fragmentation chance(%)</th>
              </tr>
            </thead>
            <tbody>
              {% for round in ammo.rounds %}
                <tr>
                  <td>{{round.round}}</td>
                  <td>{{round.damage}}</td>
                  <td>{{round.penetration}}</td>
                  <td>{{round.armor_damage}}</td>
                  <td>{{round.frag_chance}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table> 

        </div>
      {% endfor %}
    </div>
{% endblock content %}