{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/base.css">
  <link rel="stylesheet" href="../static/styles/ammo.css">
  <link rel="stylesheet" href="../static/styles/accordion.css">
{% endblock styles %}

{% block content %}
  <div class="tab-container">
    <ul class ="tabs">
      {% for quest_giver in quest_givers %}
        <li data-tab-target="#quest-giver-{{quest_giver.giver}}" class= "tab">{{quest_giver.giver}}</li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {% for quest_giver in quest_givers %}
        <div id="quest-giver-{{quest_giver.giver}}" data-tab-content>
            <h2>{{quest_giver.giver}}</h2>

          <div class="accordion">
            {% for quest in quest_giver.quests %}
              <div class="accordion-item">
                <div class="accordion-item-header">
                  <h2>{{ quest.quest_title }}</h2>
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    <h3>
                      Objectives:
                    </h3>
                    <p>{{ quest.quest_objectives }}</p>
                    <h3>
                      Rewards:
                    </h3>
                    <p>{{ quest.quest_rewards }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock content %}